body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-color: black; 
    font-family: kabel, sans-serif;
}

.multicolor {
    background: linear-gradient(110deg, red 20%, gold 40%,white 80%, grey 100%);
    height: 5px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

.logo {
    display: block;
    width: 90%;
    max-width: 400px;
    height: 250px;
    background-image: url('./assets/logo.svg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 20px;
    margin: 0 120px;
    color: white;
}



/* @import url('https://fonts   .googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
}


header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ht {
    margin: 0 15px;
    color: white;
}

.tp {
    margin: 40px 0;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

article {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 24px;
    min-height: 400px;
}

article:hover {
    transform: scale(1.2);
}

article h2 {
    margin: 0 0 18px;
    font-size: 1.5rem;
    color: black;
}

figure {
    margin: 0;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transition: transform 0.3s;
}

.article-body {
    padding: 16px;
}

article:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
    background: #1c87c9;
}

.slide-input {
    opacity: 0;
}

.slide-img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
} */