@font-face {
    font-family: 'halloween';
    src: url('font/Halloween.ttf'); format :('truetype');
}
@font-face {
    font-family: 'posterable';
    src: url('font/POSTERABLE.ttf'); format :('truetype');
}
.doja{
    text-decoration: none;
}
h1{
    color: rgb(231, 229, 124);
    font-family: halloween;
    font-size: 40px;
    margin: 10px;
    padding: 10px;

}
header {
    position: fixed;
    z-index: 10; 
    top: 4rem;
    width: 100%;
    display: flex;
justify-content: center;
gap: 200px;
    opacity: 1;
    transition: all 1000ms;
    color: rgb(231, 229, 124);
    font-family: posterable;
    margin: 10px;
}
.text{
text-decoration: none;
color: rgb(231, 229, 124);
}
.heade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10; 
    text-decoration: none;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: -100; 
}
.button {
    border: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, 0);


}

.button img {
    width: 30px;
    height: auto; 
}