@font-face {
    font-family: 'halloween';
    src: url('font/Halloween.ttf'); format ('truetype');
}
@font-face {
    font-family: 'posterable';
    src: url('font/POSTERABLE.ttf'); format ('truetype');
}
@font-face {
    font-family: 'tox';
    src: url(./font/Tox\ Typewriter.ttf); format ('truetype');
}

h1{
    color: rgb(231, 229, 124);
    font-family: halloween;
    font-size: 40px;
    margin: 10px;
    padding: 10px;

}

header {
    position: fixed;
    z-index: 10; 
    top: 4rem;
    width: 100%;
    display: flex;
justify-content: center;
gap: 200px;
    opacity: 1;
    transition: all 1000ms;
    color: rgb(231, 229, 124);
    font-family: posterable;
    margin: 10px;
}


.text{
text-decoration: none;
color: rgb(231, 229, 124);
}

.button {
    border: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, 0);


}
.doja{
    text-decoration: none;
}
.heade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10; 
    text-decoration: none;
}
.button img {
    width: 30px;
    height: auto; 
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
}
.mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px;
    margin: 60px 20px 20px; 
    max-height: 80vh; 
    overflow-y: auto; 
    scrollbar-width: none;
}

.mosaic-item {
    position: relative;
    width: 30%;
    margin: 10px;
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.mosaic-item img {
    width: 100%;
    height: auto; 
    transition: transform 0.3s; 
}

.mosaic-item:hover img {
    transform: scale(1.05);
}
main {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./asset1/5.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
}